.Admin{
	/*position: absolute;*/
	min-height: 100%;
	padding: 0 180px;
	overflow: hidden;
    background-color: #FFF;
    position: relative;
	}
	.Admin > .left{
		height: 100%;
		width: 180px;
		left: 0;
		top: 32px;
		position: fixed;
		z-index: 2;
		overflow:auto;
		}
        .Admin > .left .shadow{
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            box-shadow: inset -1px 0px 0px 0px #D8D8D8,
					inset -5px 0px 5px -5px #E0E0E0;
		    -webkit-box-shadow: inset -1px 0px 0px 0px #D8D8D8,
					inset -5px 0px 5px -5px #E0E0E0;
            }
		.maximize-left .Admin > .left{
			width: 48px;
			}
    .Admin > .right{
		width: 180px;
		right: 0;
		bottom: 0;
		position: fixed;
		z-index: 3;
		/*overflow-y:hidden;*/
		padding: 0;
        top: 32px;
		}
        .Admin > .right .shadow{
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            box-shadow: inset 1px 0 0 0 #D8D8D8,
					inset 5px 0 5px -5px #E0E0E0;
		    -webkit-box-shadow: inset 1px 0 0 0 #D8D8D8,
					inset 5px 0 5px -5px #E0E0E0;
            }
		.maximize-right .Admin > .right{
			width: 48px;
			}
    .Admin > .center{
        /*position: absolute;*/
        margin: 0 auto;
        /*max-width: 920px;*/

        padding: 32px 0 36px;
        /*top: 32px;
        left: 150px;
		right: 200px;
        bottom: 0;*/
		z-index: 1;
        /*overflow: hidden;*/
        position: relative;
        }
        .maximize-left .Admin > .center,
        .maximize-left .Admin > .top{
			left: 48px;
			}
        .maximize-right .Admin .center,
        .maximize-right .Admin .top{
			right: 48px;
			}
        .Admin .center > div{
            /*position: absolute;*/
            /*left: 0;
            right: 0;*/
            height: 100%;
            /*box-shadow: -1px 0 0 0 #DDDDDD,
					5px 0 5px 5px #E0E0E0;
		    -webkit-box-shadow: 1px 0 0 0 #D8D8D8,
					5px 0 5px -5px #E0E0E0;*/
            }
	.Admin .top{
        height: 32px;
        position: fixed;
        left: 0;
		right: 0;
        top: 0;
        z-index: 5;
        }
        .Admin .top-right{
            position: absolute;
            right: 0;
            display: block;
            height: 32px;
            /*width: 270px;*/
            padding: 0;
            margin: 0;
            z-index: 110;
            white-space: nowrap;
            text-align: right;
            vertical-align: top;
        }
    .Admin .bottom{
        position: fixed;
        /*height: 40px;*/
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: #F3F3F3;
        border-top: 1px solid #ccc;
        padding: 0 180px;
        box-shadow: inset 0px 1px 0px 0px #E5E5E5, inset 0px 3px 3px -2px #E5E5E5;
    }
    .Admin .window{
        background-color: #ffffff;
        border-top: 0px solid #CCC;
        border-bottom: 2px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        position: relative;
        }
    .Admin .window:first-child{
        border: none;
        box-shadow: none;
    }