div#resizetop{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: 50%;
    right: 50%;
    top: -10px;
    cursor: s-resize;
    position: absolute;
    z-index: 1500;
    margin-left: -5px;

}
div#resizebottom{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: 50%;
    right: 50%;
    top: 100%;
    bottom: 0px;
    cursor: s-resize;
    position: absolute;
    z-index: 1500;
    margin-left: -5px;
}
div#resizeleft{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: -10px;
    top: 50%;
    bottom: 50%;
    cursor: e-resize;
    position: absolute;
    z-index: 1500;
    margin-top: -5px;
}
div#resizeright{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: 100%;
    right: 0px;
    top: 50%;
    bottom: 50%;
    cursor: e-resize;
    position: absolute;
    z-index: 1500;
    margin-top: -5px;
}
div#resizetopleft{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: -10px;
    top: -10px;
    cursor: se-resize;
    position: absolute;
    z-index: 1500;
}
div#resizetopright{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: 100%;
    right: 0px;
    top: -10px;
    bottom: 0px;
    cursor: sw-resize;
    position: absolute;
    z-index: 1500;
}
div#resizebottomright{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: 100%;
    right: 0px;
    top: 100%;
    bottom: 0px;
    cursor: se-resize;
    position: absolute;
    z-index: 1500;
}
div#resizebottomleft{
    width: 10px;
    height: 10px;
    background-color: #006ad6;
    left: -10px;
    right: 100%;
    top: 100%;
    bottom: 0px;
    cursor: sw-resize;
    position: absolute;
    z-index: 1500;
}
div.defaultlink{
    position: absolute;
    z-index: 1501;
    top: 95%;
    margin-top: -5px;
    left: 100%;
    margin-left: 16px;
    width:16px;
    height:16px;
    background-image: url("img/arrow-out-gray.png");
    cursor: pointer;
}
span.submit-message{
    font-size: 12px;
    position: absolute;
    z-index: 1501;
    top: 100%;
    left: 100%;
    max-width: 100%;
    color: #ffffff;
    text-decoration: none;
    background: #FF514C;
    word-break: break-all;
    width: 400px;
    height: 20px;
    margin-left: -420px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 10px;
    display: none;

}
div.upload{
    position: absolute;
    z-index: 1501;
    top: 95%;
    margin-top: 16px;
    left: 100%;
    margin-left: 16px;
    width:16px;
    height:16px;
    background-image: url("img/drive-upload-gray.png");
    overflow: hidden;
    cursor: pointer;
    
}
div.upload form input[type=file]{
    cursor: pointer;
    left: -140px;
    width: auto;
    height: auto;
}
.upload form{
    width: 16px;
    height: 16px;
    position: absolute;
}
.upload form [type=file]{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
}