.Field{
    background-color: transparent;
    border: none;
    display: block;
    /*overflow: hidden;*/
    padding: 0 0;
    margin: 15px 0;
    color: #111;
    height: auto;
    vertical-align: middle;
    }
    .Field__title{
        font-size: 13px;
        font-weight: bold;
        color: #888;
        padding-left: 0;
        display: inline-block;
        position: relative;
        padding-right: 10px;
        }
        .Item_link .Field__title:after{
            content: '↝';
            font: normal 16px/10px "Times New Roman";
            color: #0073bf;
            margin-left: 3px;
            text-decoration: none;
            display: inline-block;
            }
        .Item_mandatory .Field__title:before{
            content: '*';
            font: normal 22px/16px "Times New Roman";
            color: #bf028b;
            position: absolute;
            right: -2px;
            top: 50%;
            margin-top: -2px;
            text-decoration: none;
            }
        .Item_diff-add .Field__title:before,
        .Item_diff-change .Field__title:before,
        .Item_diff-delete .Field__title:before{
            vertical-align: middle;
            font: normal 12px/8px "Times New Roman";
            color: #FFF;
            font-weight: bold;
            margin-right: 4px;
            text-decoration: none;
            border-radius: 10px;
            padding: 0px 4px;
            position: static;
        }
        .Item_diff-add .Field__title:before{
            content: '+';
            background-color: #85cc29;
            }
        .Item_diff-change .Field__title:before{
            content: '!';
            background-color: #9352cc;
            padding: 0 7px;
            }
        .Item_diff-delete .Field__title:before{
            content: '×';
            background-color: #e67573;
            }
    .Field__description{
        color: #ddd;
        font-size: 11px;
        line-height: 11px;
        margin: 0;
        padding: 0;
        display: block;
        margin: 1px;
        /*display: none;*/
        }
    .Field__error{
        color: #ff0c08;
        font-size: 12px;
        }
    .Field__input-wrap{
        margin-right: 30px;
        }
    textarea.Field__input{
        border: none;
        background-color: transparent;
    }
    .Field__input[type="text"],
    .Field__input[type="password"]
    {
        font-size: 24px;
        display: block;
        width: 100%;
        border: none;
        background-color: transparent;
        }
    .Field.Item_draft .inpt{
        border: 1px dashed #b3b3b3;
        }
        .Field.Item_draft .Field__input{
            font-style: italic;
            color: #666;
            }
.Field .inpt{
    display: block;
}
/* Hover */
.Field:hover{
    background-color: transparent;
    border: none;
    }
    .Field:active{
        background-color: transparent;
        border: none;
        }
/* Hover */
.Field:hover .inpt{
    border: 1px solid #95c1e6;
    }
/* Выделение */
.Field.Item_selected{
    background-color: transparent;
    border: none;
    }
    .Field.Item_selected .inpt{
        border-color: #1a8cff;
        box-shadow: inset 0px 0px 0 2px #b3d9ff;
        }
    .Field.Item_selected .Item__title,
    .Field.Item_selected .Item__description{
        color: #888;
        }
    .Field.Item_selected .Item__title:hover{
        color: #0073e6;
    }