html, body{
	margin:0;
	padding:0;
	border: none;

	font-size: 12pt;
	line-height: 1.2;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	/*box-shadow: inset 0 0 100px 0px #DDD;*/
	height: 100%;
	}

	a, a:visited{
		color: #0075e7;
		outline: none;
		}
		a:hover{
			color:#6d8dc9;
			}
	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		color:#2591fa;
		line-height: normal;
		}
	h1{
		font-size:43pt;

		}
		.logo{
			text-shadow:2px 2px 4px #CCC;
			font-size:180pt;
			color: #333;
			/*font-weight: bold;*/
			font-style:italic;
			letter-spacing: -5px;
			margin: 0;
			padding: 0;
		}
        .color1 {
            color: #FF2B26;
            }
        .color2 {
            color: #FFD700;
            }
        .color3 {
            color: #83CF1F;
            }

		/*.logo-descript{*/
			/*margin: 0;*/
			/*padding: 0;*/
            /*font-size: 13pt;*/
		/*}*/
	h2{
		font-size:22pt;
		}
	.error{
		color: #DF2700;
	}

    code{
        background-color: #EEE;
        padding: 3px;
        border-radius: 3px;
        display: inline-block;
    }
.color4 {
	color: #FFFFFF;
	}

.button, .button:visited, .button:active{
	color: #333;
	background-color: #FFF;
	padding: 6px 12px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: solid 1px #5DABEC;
    outline: none;
	/*border-radius: 3px;*/
	/*-moz-border-radius: 3px;*/

	box-shadow: inset 0px 0px 3px 1px #CCE6FF;
	-webkit-box-shadow: inset 0px 0px 3px 1px #CCE6FF;
	-moz-box-shadow: inset 0px 0px 3px 1px #CCE6FF;
	}
	.button:hover{
		border: solid 1px #5DABEC;
		color: #0182ed;
		}

#req{
	width: 700px;
	margin: 0 auto;
	padding: 25px;
	}
	#req .logo{
		font-size: 43pt;
        letter-spacing: -2px;
        text-shadow: 1px 1px 2px #CCC;
		}
	#req .logo-descript{
		font-size: 11pt;
        margin-top: 0;
		}
	ul{
        list-style-type: decimal;
		}
		ul li{
			margin: 12px 0;
            color: #0182ed;
			}
            ul li *{
                color: #000;
            }
#start{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 400px;
    text-align: center;
	}

#progress{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 400px;
    text-align: center;
	}
	#progress .prgressbar{
		margin: 0 auto;
		height: 26px;
		width: 460px;
        display: inline-block;
		background-color: #FFF;
		border: 1px solid #5DABEC;
		padding: 5px;
		/*border-radius: 3px;*/
		/*-moz-border-radius: 3px;*/
		box-shadow: inset 0px 0px 3px 1px #CCE6FF;
		}
		#progress .prgressbar .bar{
			height: 100%;
			width: 0%;
			background-color: #2e97ee;
			text-align: right;
			/*border-radius: 3px;*/
			/*-moz-border-radius: 3px;*/
			}
	#progress .message{
		margin: 0 auto;
		padding: 5px 6px;
		font-size: 10pt;
		color: #999;
		width: 460px;
		text-align: left
	}

#form, #error{
	position: absolute;
	height: auto;
	width: 800px;
	top: 25px;
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, 0.95);*/
	border: 1px solid #DDD;
	box-shadow: 0px 0px 3px 1px #DDD; /*#CCE6FF;*/
	padding: 0 25px 30px 25px;
	/*border-radius: 3px;*/
	/*-moz-border-radius: 3px;*/
}
#error{
	width: auto;
	min-width: 800px;
	max-width: 1024px;
	}
.descript{
	font-size: 11pt;
}

.form-list{
	}
	.form-list .error{
		font-size: 12pt;
		font-weight:normal;
		color: #DF2700;
		}

	.form-list .item{
		padding: 5px 0;
		text-align: left;
		margin:5px 0;
		}
		.form-list .item label{
			font-size: 12pt;
			font-weight: normal;
			color:#000;
			margin-left:1px;
			}
			.form-list .item label.descript{
				font-size: 8pt;
				color: #9B9B9B;
				font-weight:normal;
				line-height:1.2;
				padding-top:3px;
				}
			.form-list .item label.error{
				font-size: 11pt;
				font-weight:normal;
				color: #DF2700;/* #FFF;*/
				/*background-color: #d74225;*/
				/*padding: 1px 4px 1px 4px;
				margin:0;*/
				}
			.form-list span.required{
				font-size: 12pt;
				color: #DF2700;
				margin: 0px 4px;
				}
			.form-list .group{
				background-color: #E8F1FA;
				padding: 8px;
				/*border-radius: 3px;*/
				/*-moz-border-radius: 3px;*/
				/*border: 1px solid #999;*/
				}
			.form-list .item-buttons{
				padding: 20px 0;
				text-align: left;
				}
				.form-list input[type=submit]{
					font-size: 13pt;
					/*padding: 5px 15px;*/
				}
			.form-list input[type=text],
			.form-list input[type=password],
			.form-list select,
			.form-list textarea{
				font-family: Verdana, Geneva, sans-serif;
				font-size: 14pt;
				margin:1px 0;
				/*border-radius: 3px;*/
				/*-moz-border-radius: 3px;*/
			}
			.form-list textarea{
				font-size: 10pt;
			}
			.form-list input[type=text],
			.form-list input[type=password],
			.form-list select,
			.form-list textarea{
				border: 1px solid #999;
				margin: 3px 0 0 0;
				padding:3px 2px 3px 4px;
				/*width:100%;*/
				}
			.form-list input[type=file]{
				display: block;
			}
			.form-list select{
				padding: 3px 4px 3px 5px;
				}
				.form-list select.minselect{
					width: 30%;
				}
				.form-list select.minselectright{
					width: 30%;
				}
			.form-list input.error,
			.form-list textarea.error,
			.form-list select.error,
			.form-list .item div.error{
				border: 2px solid #E3755E;
				/*background-color:#FEF7F5;*/
				color: #000;
				}
			.form-list input.big,
			.form-list textarea.big,
			.form-list select.big,
			.form-list .item div.big{
				width:600px;
			}
			.form-list input.medium,
			.form-list textarea.medium,
			.form-list select.medium,
			.form-list .item div.medium{
				width:400px;
			}
			.form-list input.short,
			.form-list textarea.short,
			.form-list select.short,
			.form-list .item div.short{
				width:250px;
			}
			.form-list input.short2,
			.form-list textarea.short2,
			.form-list select.short2,
			.form-list .item div.short2{
				width:150px;
			}
			.form-list input.very-short,
			.form-list textarea.very-short,
			.form-list select.very-short,
			.form-list .item div.very-short{
				width:65px;
			}
			.form-list fieldset{
				border:solid 1px #EEE;
				margin-bottom:18px;
				padding:5px 15px;
				/*background-color: #F7F9FA;*/
				}
				.form-list fieldset legend{
					padding: 0;
					margin-left: 0;
					color:#2591fa;
					background: url(main/img/legend_bg.png) repeat-x right top;
					}
				/* Для IE6, IE5 */
				* html .form-list fieldset legend{
					background: none;
					}

