body{
    background-color: #F7FAFC;
    padding: 0;
    margin: 0;
    font-family: Arial,serif;
	color: #444;
}
a {
	color: #105289; /*#0A5564*/;
	text-decoration: underline;
    outline: none;
	}
    a:hover {
        text-decoration: underline;
        color: #126DBA;
        }
small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.8em;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial';
	color: #2176c9;
	}
h1, h2, h3, h4, h6 {
	font-weight: normal;
	}
h5 {
	font-weight: bold;
	}
h1 {
	font-size: 24pt;
	}
h2 {
	font-size: 19pt;
	}
h3 {
	font-size: 13pt;
	}
h4 {
	font-size: 11pt;
	}
h5, h6 {
	font-size: 9pt;
	}
img{
    border: none;
    outline: none;
}
#layout{
    }
    #layout-head{
        background-color: #161616;
        height: 90px;
        padding: 0 5% 0 5%;
        margin: 0;
        }
    #layout-middle{
        padding: 0 5% 0 5%;
        margin: 0;
        }
        #layout-middle .top{
            border-top: 2px solid #2591FA;
            background: #dfe9f3;
            margin: 0 0 0 0;
            padding: 7px 25px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            }
        #layout-middle .sidebar{
            float: right;
            margin: 30px 0;
            padding: 0 0 0 2%;
            width: 28%;
            }
        #layout-middle .center{
            float: left;
            margin: 20px 0;
            padding: 0;
            width: 70%;
            }
    #layout-bottom{
        clear: both;
        padding: 0 5% 0 5%;
        margin: 0;
        }
    .layout-wrapper{
        width: 100%;
        }
/* Cerafix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}