.ToolRichText{

    }
    .ToolRichText .view-real{
        background-image: url(img/view-real.png);
        }
    .ToolRichText .view-hidden{
        background-image: url(img/view-hidden.png);
        }
    .ToolRichText .view-deleted{
        background-image: url(img/view-deleted.png);
        }