.Bookmarks{
    width: 100%;
    position: absolute;
    }
    .Bookmarks__title-wrap{
        height: 0px;
        margin: 20px 0 0px 0px;
        padding: 0 10px;
        text-align: center;
        position: relative;
        border-bottom: 1px dotted #d9d9d9;
        /*background: #eee;*/
        font-size: 12px;
        }
        .Bookmarks__title{
            line-height: 20px;
            color:  #d5d5d5;
            margin: auto;
            position: relative;
            padding: 0 5px;
            background: #fff;
            top: -10px;
            }

    .Bookmarks__items-list{
        list-style-type: none;
        padding: 0;
        margin: 15px 0 0 0;
        position: relative;
        }
		.Bookmarks__item-link{
			display: block;
            position: relative;
			text-decoration:none;
            margin: 3px 0 0;
			padding: 4px 5px 6px 10px;
			/*overflow: hidden;*/
			white-space: nowrap;
            /*border-radius: 15px;*/
            /*border-top-right-radius: 10px;*/
            /*border-bottom-right-radius: 10px;*/
            cursor: pointer;
            /*line-height: 20px;*/
            font-size: 14px;
            color: #008ee6;
			}
            .Bookmarks__item-title{
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
                /*max-width: 105px;*/
                overflow: hidden;
                text-overflow: ellipsis;
                }
                .Bookmarks__item-link:hover{
                    /*background-color: #EEE;*/
                    background-color: rgba(166, 218, 255, 0.30);
                    border-color: rgba(140, 207, 255, 0.30);
                }
                .Bookmarks__item-link:hover .Bookmarks__item-title{
                    /*color: #000;*/
                    /*text-decoration: underline;*/
                    }
            .Bookmarks__item-icon{
                max-width: 16px;
                max-height: 16px;
                margin: 0 -5px 0 5px;
                vertical-align: middle;
                opacity: 0.5;
            }
            :hover > .Bookmarks__item-icon{
                opacity: 0.8;
            }
            .Bookmarks__item-remove{
                position: absolute;
                top: 6px;
                right: 5px;
                padding: 0px 4px;
                font-size: 11px;
                border-radius: 15px;
                color: #444;
                background-color: #fff;
                border: 1px solid #cceaff;
                display: none;
                height: 15px;
                }
                .Bookmarks__item-remove:hover{
                    /*background-color: #FC4250;*/
                    color: #FC4250;
                    }
            :hover > .Bookmarks__item-remove{
                display: inline-block;
            }
            .Bookmarks__item.active > .Bookmarks__item-link .Bookmarks__item-remove{
                border: 1px solid #40b6ff;
            }
    .Bookmarks__items-list .Bookmarks__items-list{
        margin: 0 0 0 15px;
        }
        .Bookmarks__items-list .Bookmarks__items-list .Bookmarks__item-link{
            font-size: 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
	.Bookmarks__item.active > .Bookmarks__item-link{
        /*background-color: #c8f291;*/
        /*background-color: #e6e6e6;*/
        background-color: rgb(128, 200, 255);
        border-color: rgba(128, 200, 255, 0.3);
		}
		.Bookmarks__item.active > .Bookmarks__item-link{
			color: #fff;
			}
        .Bookmarks__item.active > .Bookmarks__item-link .Bookmarks__item-icon{
            opacity: 0.9;
        }
.Bookmarks__toolitem{
    text-align: center;
    margin: 10px 0;
    opacity: 0.05;
    }
    .Bookmarks__toolitem:hover{
        opacity: 1;
        }
.Bookmarks__add{
    cursor: pointer;
}
.Bookmarks__config{
    position: absolute;
    padding: 0 5px;
    left: -8px;
    height: 16px;
    top: -8px;
    cursor: pointer;
    width: 30px;
    text-align: left;
    }
    .Bookmarks__config img{
        display: none;
    }
    .Bookmarks__config:hover img{
        display: inline-block;
    }
