.Bookmarks{
    width: 100%;
    position: absolute;
    }
    .Bookmarks__title-wrap{
        height: 1px;
        margin: 20px 0 10px 10px;
        font-size: 8pt;
        padding: 0 10px;
        background-color: #e6e6e6;
        text-align: center;
        position: relative;

        }
        .Bookmarks__title{
            line-height: 20px;
            color: #d5d5d5;
            margin: auto;
            position: relative;
            padding: 0 5px;
            top: -10px;
            }

    .Bookmarks__items-list{
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 10px;
        position: relative;
        }
		.Bookmarks__item-link{
			display: inline-block;
			text-decoration:none;
            margin: 5px 0 0;
			padding: 4px 5px 6px 5px;
			/*overflow: hidden;*/
			white-space: nowrap;
            border-radius: 15px;
            /*border-top-right-radius: 10px;*/
            /*border-bottom-right-radius: 10px;*/
            cursor: pointer;
            /*line-height: 20px;*/
            font-size: 17px;
            color: #008ee6;
			}
            .Bookmarks__item-title{
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
                max-width: 125px;
                overflow: hidden;
                text-overflow: ellipsis;
                }
                .Bookmarks__item-link:hover{
                    /*background-color: #EEE;*/
                    background-color: rgba(166, 218, 255, 0.30);
                    border-color: rgba(140, 207, 255, 0.30);
                }
                .Bookmarks__item-link:hover .Bookmarks__item-title{
                    /*color: #000;*/
                    /*text-decoration: underline;*/
                    }
            .Bookmarks__item-icon{
                max-width: 16px;
                max-height: 16px;
                margin: 0;
                vertical-align: middle;
            }
            .Bookmarks__item-remove{
                padding: 1px 4px;
                font-size: 10px;
                border-radius: 15px;
                color: #444;
                display: none;
                }
                .Bookmarks__item-remove:hover{
                    background-color: #FC4250;
                    color: #fff;
                    }
            :hover > .Bookmarks__item-remove{
                display: inline-block;
            }
    .Bookmarks__items-list .Bookmarks__items-list{
        margin: 0 0 0 10px;
        }
        .Bookmarks__items-list .Bookmarks__items-list .Bookmarks__item-link{
            font-size: 15px;
        }
	.Bookmarks__item.active > .Bookmarks__item-link{
        /*background-color: #c8f291;*/
        /*background-color: #e6e6e6;*/
        background-color: rgb(128, 200, 255);
        border-color: rgba(128, 200, 255, 0.3);
		}
		.Bookmarks__item.active > .Bookmarks__item-link{
			color: #fff;
			}
.Bookmarks__toolitem{
    text-align: center;
    margin: 10px 0;
    opacity: 0.05;
    }
    .Bookmarks__toolitem:hover{
        opacity: 1;
        }
.Bookmarks__add{
    cursor: pointer;
}
.Bookmarks__config{
    position: absolute;
    padding: 0 5px;
    left: -8px;
    height: 16px;
    top: -8px;
    cursor: pointer;
    width: 30px;
    text-align: left;
    }
    .Bookmarks__config img{
        display: none;
    }
    .Bookmarks__config:hover img{
        display: inline-block;
    }
