.ToolRichText{

    }
    .ToolRichText .filter-real{
        background-image: url(img/view-real.png);
        }
    .ToolRichText .filter-hidden{
        background-image: url(img/view-hidden.png);
        }
    .ToolRichText .filter-deleted{
        background-image: url(img/view-deleted.png);
        }