.PageNavigation ul, .PageNavigation li, .PageNavigation a {
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0;
	word-spacing: 0;
}
.PageNavigation {
	margin-top: 10px;
	width: 100%;
    height: 30px;
}
.PageNavigation ul {
	width: 100%;
}
.PageNavigation li {
	float: left;
	display: block;
}

.PageNavigation a {
	padding: 4px 5px 5px 5px;
	display: block;
	color: #aaa;
	font-size: 14px;
}

.PageNavigation li a:hover {
	color: #FFF;
	background: #00679d;
}

.PageNavigation li.space {
	font-size: 12px;
	color: #aaa;
	padding: 3px 5px;
	background: none;
}

.PageNavigation li.first_last_page {
	font-style: italic;
}

.PageNavigation li.active a {
	color: #fff;
	background: #45b9f6;

}
.PageNavigation li.active a:hover  {
	color: #fff; /* IE fix */
	background: #00679d;
}

.PageNavigation li.pageinfo {
	float: left;
	font-size: 12px;
	color: #aaa;
	display: block;
	padding: 3px;
	padding-right: 5px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}