.BaseExplorer{
    padding: 15px 15px 30px;
    }
    .BaseExplorer__head{
        display: table;
        width: 100%;
        height: 30px;
        table-layout: fixed;
        position: relative;
        }
        .BaseExplorer__head-left{
            display: table-cell;
            vertical-align: top;
        }
        .BaseExplorer__head-right{
            display: table-cell;
            text-align: right;
            vertical-align: top;
            position: relative;
            width: 100px;
            }
    .BaseExplorer__empty{
        text-align: center;
        font-size: 24px;
        line-height: 1.48;
        font-weight: bolder;
        color: #999;
        margin-top: 30px;
        }
        .BaseExplorer__empty-explain{
            text-align: center;
            font-size: 12px;
            line-height: 1.48;
            font-weight: normal;
            color: #aaa;
            }
        .BaseExplorer__show-entity{
            display: inline-block;
            padding: 3px 8px 4px;
            cursor: pointer;
            font-size: 13px;
            color: #061c33;
            border-radius: 15px;
            margin: 10px 5px;
            background: #F3F3F3;
            border: 1px solid #eee;
            text-decoration: none;
        }
        .BaseExplorer__show-entity:hover{
            background: #888;
            border: 1px solid #808080;
            color: #fff;
        }
    .BaseExplorer__title,
    .BaseExplorer__title-a{
        font-size: 28px;
        padding: 0;
        color: #83c400;
        margin: 0;
        text-decoration: none;
        display: inline;
        }
        .BaseExplorer__title-a:hover,
        .BaseExplorer__title-a:focus{
            text-decoration: underline;
        }
    .BaseExplorer__description{
        font-size: 12px;
        padding: 0;
        margin: 0 0 25px 0;
        color: #999;
        }

.BaseExplorer__attribs-btn{
    display: inline-block;
    /*width: 16px;*/
    height: 16px;
    padding: 7px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 101;
    position: relative;
    border: 1px solid transparent;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    border-bottom: none;
    vertical-align: bottom;
    }
    .BaseExplorer__attribs-btn:hover{
        opacity: 1;
        }
    .BaseExplorer__attribs-btn.active{
        /*box-shadow: 0 0 3px #eee;*/
        opacity: 1;
        border-color: #e3e3e3;
        background-color: #E9E9E9;
        }
    .BaseExplorer__attribs-btn.active:after{
        content: '';
        position: absolute;
        background-color: #E9E9E9;
        bottom: -3px;
        left: -2px;
        height: 3px;
        right: -2px;
        z-index: 2002;
    }
.BaseExplorer__attribs{
    /*position: absolute;*/
    background-color: #E9E9E9;
    width: 100%;
    /*height: 40px;*/
    border: 1px solid #e3e3e3;
    /*box-shadow: 0 0 3px #eee;*/
    z-index: 100;
    margin: -1px 0 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: table;
    padding: 5px 5px 5px 10px;

    }
    .BaseExplorer__attribs-item{
        display: table-row;
        }
    .BaseExplorer__attribs-col1{
        display: table-cell;
        white-space: nowrap;
        padding: 5px 0;
        }
    .BaseExplorer__attribs-col2{
        display: table-cell;
        width: 100%;
        padding: 5px;
        }
.BaseExplorer__attribs-error{
    font-size: 13px;
    color: #f00;
}
.BaseExplorer__attribs_host{
    font-size: 12px;
}
.BaseExplorer__attribs-uri{
    display: table;
    width: 100%;
    padding-left: 1px;
    }
    .BaseExplorer__attribs-uri-parent{
        display: table-cell;
        background-color: #f9f9f9;
        font-size: 12px;
        padding: 0 2px;
        white-space: nowrap;
        color: #999;
        cursor: pointer;
        }
        .BaseExplorer__attribs-uri-parent:hover{
            color: #000;
            background-color: rgba(166, 218, 255, 0.30);
            border-color: rgba(140, 207, 255, 0.30);
        }
    .BaseExplorer__attribs-uri-name-wrap{

        display: table-cell;
        width: 100%;
        white-space: nowrap;
    }
    .BaseExplorer__attribs-uri-name{
        width: 100%;
        border: 0;
        padding: 0;
        font-size: 12px;
        min-width: 50px;
    }

.BaseExplorer__proto{
    padding: 3px 8px 3px;
    display: inline-block;
    border-radius: 10px;
    color: #666;/*color: #666;*/
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    /*background-color: #f9f9f9;*/
    margin: 0 0 5px 0;
    font-style: italic;
    }
    .BaseExplorer__proto:hover{
        /*background-color: #aaa;*/
        /*color: #fff;*/
        background-color: rgba(166, 218, 255, 0.30);
        border-color: rgba(140, 207, 255, 0.30);
        }
.BaseExplorer__item-placeholder{
    border: 1px dotted #1a8cff;
    border-radius: 5px;
    display: inline-block;
}