.BaseExplorer{
    margin: 15px;
    margin-bottom: 30px;
    /*display: table;*/
    /*table-layout: fixed;*/
    }
    .BaseExplorer__head{
        display: table;
        width: 100%;
        height: 30px;
        table-layout: fixed;
        }
        .BaseExplorer__head-left{
            display: table-cell;
            vertical-align: top;
        }
        .BaseExplorer__head-right{
            display: table-cell;
            text-align: right;
            vertical-align: top;
        }
    .BaseExplorer__empty{
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: #cccccc;
        }
        .BaseExplorer__empty-explain{
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            color: #cccccc;
            }
    .BaseExplorer__title,
    .BaseExplorer__title-a{
        font-size: 28px;
        padding: 0;
        color: #85cc02;
        margin: 0;
        text-decoration: none;
        display: inline;
        }
        .BaseExplorer__title-a:hover,
        .BaseExplorer__title-a:focus{
            text-decoration: underline;
        }
    .BaseExplorer__description{
        font-size: 12px;
        padding: 0;
        margin: 0 0 15px 0;
        color: #666;
    }