.BaseExplorer{
    margin: 15px 15px 30px;
    }
    .BaseExplorer__head{
        display: table;
        width: 100%;
        height: 30px;
        table-layout: fixed;
        position: relative;
        }
        .BaseExplorer__head-left{
            display: table-cell;
            vertical-align: top;
        }
        .BaseExplorer__head-right{
            display: table-cell;
            text-align: right;
            vertical-align: top;
            position: relative;
            width: 100px;
            }
    .BaseExplorer__empty{
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: #cccccc;
        }
        .BaseExplorer__empty-explain{
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            color: #cccccc;
            }
    .BaseExplorer__title,
    .BaseExplorer__title-a{
        font-size: 28px;
        padding: 0;
        color: #85cc02;
        margin: 0;
        text-decoration: none;
        display: inline;
        }
        .BaseExplorer__title-a:hover,
        .BaseExplorer__title-a:focus{
            text-decoration: underline;
        }
    .BaseExplorer__description{
        font-size: 12px;
        padding: 0;
        margin: 0 0 25px 0;
        color: #999;
        }
.BaseExplorer__attribs-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 7px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    opacity: 0.05;
    z-index: 101;
    position: relative;
    border: 1px solid transparent;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    border-bottom: none;
    vertical-align: bottom;
    }
    .BaseExplorer__attribs-btn:hover{
        opacity: 1;
        }
    .BaseExplorer__attribs-btn.active{
        /*box-shadow: 0 0 3px #eee;*/
        opacity: 1;
        border-color: #eee;
        background-color: #F5F5F5;
        }
    .BaseExplorer__attribs-btn.active:after{
        content: '';
        position: absolute;
        background-color: #F5F5F5;
        bottom: -3px;
        left: -2px;
        height: 3px;
        right: -2px;
        z-index: 2002;
    }
.BaseExplorer__attribs{
    /*position: absolute;*/
    background-color: #F5F5F5;
    width: 100%;
    /*height: 40px;*/
    border: 1px solid #eee;
    /*box-shadow: 0 0 3px #eee;*/
    z-index: 100;
    margin: -1px 0 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: table;
    padding: 15px;

    }
    .BaseExplorer__attribs-item{
        display: table-row;
        }
    .BaseExplorer__attribs-col1{
        display: table-cell;
        padding: 5px 0;
        }
    .BaseExplorer__attribs-col2{
        display: table-cell;
        width: 100%;
        padding: 5px;
        }
.BaseExplorer__attribs-error{
    font-size: 12px;
    color: #f00;
}
.BaseExplorer__attribs-uri{
    display: table;
    width: 100%;
    padding-left: 1px;
    }
    .BaseExplorer__attribs-uri-parent{
        display: table-cell;
        background-color: #f9f9f9;
        font-size: 12px;
        padding: 0 2px;
        white-space: nowrap;
        color: #999;
        cursor: pointer;
        }
        .BaseExplorer__attribs-uri-parent:hover{
            color: #000;
        }
    .BaseExplorer__attribs-uri-name-wrap{

        display: table-cell;
        width: 100%;
        white-space: nowrap;
    }
    .BaseExplorer__attribs-uri-name{
        width: 100%;
        border: 0;
        padding: 0;
        font-size: 12px;
        min-width: 50px;
    }
.BaseExplorer__proto{
    padding: 3px 8px 3px;
    display: inline-block;
    border-radius: 10px;
    color: #444;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    background-color: #f9f9f9;
    margin: 0 0 5px 0;
    }
    .BaseExplorer__proto:hover{
        background-color: #aaa;
        color: #fff;
        }