.ProgramsMenu{
    position: absolute;
    height: 100%;
    width: 100%;
	}
.ProgramsMenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
    position: relative;
	}
	.ProgramsMenu ul li{
		display: block;
		height: auto;
		font-size: 11pt;
		/*position:relative;*/
		padding: 0;
		z-index:3;
		clear: both;
        margin: 10px 0 0px 0;
        text-align: right;

		}
		.ProgramsMenu ul li .item{
			display: inline-block;
			text-decoration:none;
            margin: 0 10px 0 0;
			padding: 4px 5px 6px 10px;
			/*overflow: hidden;*/
			white-space: nowrap;
            border-radius: 10px;
            cursor: pointer;
            line-height: 20px;
			}
            .ProgramsMenu ul li .item .title{
                display: inline-block;
                vertical-align: middle;
                color: #888;
                }
                .ProgramsMenu ul li .item:hover{
                    background-color: #EEE;
                }
                .ProgramsMenu ul li .item:hover .title{
                    color: #111;
                    /*text-decoration: underline;*/
                    }
            .ProgramsMenu ul li .item .icon{
                max-width: 16px;
                max-height: 16px;
                margin: 0 0 0 5px;
                vertical-align: middle;
            }

	.ProgramsMenu ul li.active .item{
        background-color: #93c7f5;
		}
		.ProgramsMenu ul li.active > .item .title{
			color: #FFF;
            /*text-decoration: underline;*/
			}
			.ProgramsMenu ul li.active .item:hover .title{

				}

    .ProgramsMenu ul li.group{
        font-size: 8pt;
        margin: 20px 0;
        }
        .ProgramsMenu ul li.group .group-title{
            height: 1px;
            margin: 0 0 20px 0;
            padding: 0 10px;
            background-color: #d9d9d9;
            text-align: center;
            position: relative;
            }
            .ProgramsMenu ul li.group .group-title > .title{
                line-height: 20px;
                color: #d5d5d5;
                margin: auto;
                position: relative;
                padding: 0 5px;
                top: -10px;
            }

    .ProgramsMenu ul li.view_toggle_action{
        /*text-align: right;*/
    }
    .ProgramsMenu ul li.view_toggle_action .item{
        display: inline-block;
        }
        /*.ProgramsMenu ul li.view_toggle_action .item:hover{*/
            /*background-color: #F0F0F0;*/
            /*}*/
        .ProgramsMenu ul li.view_toggle_action.checked .item,
        .ProgramsMenu ul li.view_toggle_action.checked .item:hover{
            background-color: #E0E0E0;
            }
            .ProgramsMenu ul li.view_toggle_action.checked .item .title,
            .ProgramsMenu ul li.view_toggle_action.checked .item:hover .title{
                color: #333;
            }


    .ProgramsMenu ul li.view_select{
        /*position: relative;*/

        }
        .ProgramsMenu ul li.view_select .item{
            position: relative;
            display: inline-block;
            overflow: visible;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .ProgramsMenu ul li.view_select .item:hover{
            /*background-color: #499df2;*/

            /*border: 1px solid #CCC;;*/
            /*border-top: 1px solid #CCC;*/
            /*border-bottom: 2px solid #CCC;*/
            /*border-left: 1px solid #CCC;*/
            /*border-right: 1px solid #CCC;*/
            /*padding: 3px 4px 5px 9px;*/
            /*font-size: 11pt;*/
            /*-moz-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);*/
                /*box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);*/
            }
            .ProgramsMenu ul li.view_select .item:hover .title{
                /*color: #FFF;*/
                }
        .ProgramsMenu ul li.view_select .item > .popup-left{
            display: none;
            z-index: 100;
        }
        .ProgramsMenu ul li.view_select .item:hover > .popup-left{
            display: block;
        }
        .ProgramsMenu ul li.view_select .item > .popup-left{
            position: absolute;
            left: 0px;
            top: -1px;
            width: 0px;
            /*height: 100px;*/
            /*background-color: #CCC;*/
            /*overflow: visible;*/
        }
        .ProgramsMenu ul li.view_select .item .popup-left > ul{
            position: absolute;
            /*z-index: 1000;*/
            right: 0;
            padding: 1px;
            margin: 0;
            list-style: none;
            background-color: #ffffff;
            border-top: 1px solid #CCC;
            border-bottom: 2px solid #CCC;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
            font-size: 11pt;
            -moz-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);
                box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);
        }
        .ProgramsMenu ul li.view_select .item .popup-left > ul li{
            padding: 0;
            margin: 0;
            position: static;
            text-align: left;
        }
        .ProgramsMenu ul li.view_select .item .popup-left > ul li:first-child a{

        }

        .ProgramsMenu ul li.view_select .item .popup-left > ul li a{
            display: block;
            padding: 5px 25px 5px 15px;
            clear: both;
            font-weight: normal;
            line-height: 20px;
            color: #333333;
            white-space: nowrap;
            text-decoration: none;
            background-repeat: no-repeat;
            background-position: 8px center;
            position: static;
            }
            .ProgramsMenu ul li.view_select .item .popup-left > ul li a:hover,
            .ProgramsMenu ul li.view_select .item .popup-left > ul li a:focus{
                color: #ffffff;
                text-decoration: none;
                background-color: #499df2;
            }
            .ProgramsMenu ul li.view_select .item .popup-left > ul li.view_all{
                /*text-align: right;*/
            }
            .ProgramsMenu ul li.view_select .item .popup-left > ul li.view_all a:hover,
            .ProgramsMenu ul li.view_select .item .popup-left > ul li.view_all a:focus{
                color: #111;
                /*text-decoration: underline;*/
                background-color: #E0E0E0;
            }
            .ProgramsMenu ul li.view_select .item .popup-left > ul li.hsplit{
                height: 1px;
                background: #CCC;
                margin: 1px 0;
                }
                .ProgramsMenu ul li.view_select .item .popup-left > ul li.hsplit.gray{
                    background: #EEE;
                }
            .ProgramsMenu ul li.view_select .item .link a:after{
                color: #fff;
                content: "↝";
                font: 400 15px/16px "Times New Roman";
                background: #2691FB;
                padding: 0 2px;
                margin: 0 2px;
                display: inline-block;
                border-radius: 16px;
            }
    .maximize-right .ProgramsMenu ul li .item{
			background-position: 19px center;
			padding-left: 50px;
		}