.SearchResult{
    margin: 10px 0;
    }
    .SearchResult form{
    }
    .SearchResult .search-text{
        margin: 0 100px 0 0;
    }
    .SearchResult .search-text input{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 3px solid #DDD;
        font-size: 20px;
        padding: 5px;
        height: 38px;
        box-shadow: inset 0 1px 3px #f0f0f0;
        }
        .SearchResult .search-text input:focus{
            border-color: #D0D0D0;
            outline: none;
        }

    .SearchResult .search-submit{
        float: right;
        height: 38px;
        padding: 5px;
        width: 100px;
        font-size: 20px;
        margin: 0;
        border: 0;
        background: #DDD;
        color: #666;
        cursor: pointer;
        }
        .SearchResult .search-submit:hover{
            color: #000;
        }