.ImageEditor{

    }
.resize{
    position:absolute;
    z-index: 1000;
    border: 1px solid #006ad6;
    }
    .resize .top{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: 50%;
        right: 50%;
        top: -10px;
        cursor: s-resize;
        position: absolute;
        z-index: 1500;
        margin-left: -5px;
        }
     .resize .bottom{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: 50%;
        right: 50%;
        top: 100%;
        bottom: 0px;
        cursor: s-resize;
        position: absolute;
        z-index: 1500;
        margin-left: -5px;
        }
     .resize .left{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: -10px;
        top: 50%;
        bottom: 50%;
        cursor: e-resize;
        position: absolute;
        z-index: 1500;
        margin-top: -5px;
        }
     .resize .right{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: 100%;
        right: 0px;
        top: 50%;
        bottom: 50%;
        cursor: e-resize;
        position: absolute;
        z-index: 1500;
        margin-top: -5px;
        }
     .resize .topleft{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: -10px;
        top: -10px;
        cursor: se-resize;
        position: absolute;
        z-index: 1500;
        }
     .resize .topright{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: 100%;
        right: 0px;
        top: -10px;
        bottom: 0px;
        cursor: sw-resize;
        position: absolute;
        z-index: 1500;
        }
     .resize .bottomright{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: 100%;
        right: 0px;
        top: 100%;
        bottom: 0px;
        cursor: se-resize;
        position: absolute;
        z-index: 1500;
        }
     .resize .bottomleft{
        width: 10px;
        height: 10px;
        background-color: #006ad6;
        left: -10px;
        right: 100%;
        top: 100%;
        bottom: 0px;
        cursor: sw-resize;
        position: absolute;
        z-index: 1500;
        }
     .resize .defaultlink{
        position: absolute;
        z-index: 1501;
        bottom: 20px;
        margin-top: -5px;
        left: 100%;
        margin-left: 16px;
        width:16px;
        height:16px;
        background-image: url("img/arrow-out-gray.png");
        cursor: pointer;
        }
     .resize span.submit-message{
        font-size: 12px;
        position: absolute;
        z-index: 1501;
        top: 100%;
        left: 0;
        max-width: 100%;
        color: #ffffff;
        text-decoration: none;
        background: #FF514C;
        word-break: break-all;
        width: 350px;
        height: 20px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding-left: 10px;
        display: none;
        }
     .resize div.upload{
        position: absolute;
        z-index: 1501;
        bottom: 0;
        margin-top: 16px;
        left: 100%;
        margin-left: 16px;
        width:16px;
        height:16px;
        background-image: url("img/drive-upload-gray.png");
        overflow: hidden;
        cursor: pointer;
        }
         .resize div.upload form{
            width: 16px;
            height: 16px;
            position: absolute;
            }
             .resize div.upload form input[type=file]{
                cursor: pointer;
                left: -140px;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                opacity: 0;
            }