.PagePreview{
    box-shadow: -1px 1px 3px 0px #DCDCDC, inset -10px -5px 10px 0px #FEFEFE;
	clear: both;
	margin: 10px 0 0;
	background: #FFF;
	padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    .PagePreview h1{
        font-size: 16pt;
        font-weight: normal;
        margin: 0;
        }
        .PagePreview .more{
            display: inline-block;
            float: right;
        }