.ObjectItem{
	display: block;
	color: #222;
	position: relative;
    padding: 0 25px;
	}
	.ObjectItem .view{
		overflow: hidden;
		padding: 0 300px 0 0px;
		position: relative;
		white-space: nowrap;
		height: 34px;
		min-width: 100px;
		cursor: pointer;
		position: relative;
		/*border-top: 1px solid #ebf3fa;*/
		border-bottom: 1px solid #E6F1FA;
		/*background-color: #f7f7f7;*/
		}
		/*.odd .ObjectItem .view{*/
			/*background-color: #fCfCfC;*/
			/*}*/
		.ObjectItem .view:hover{
			background-color: #EBF5FF;
			border-top: 1px solid #E6F1FA;
			border-bottom: 1px solid #E6F1FA;
			margin: -1px 0 0 0px;
			}
		.ObjectItem .view .colright {
			color: #999;
			margin: 0;
			padding: 0 0 0 5px;
			position: absolute;
			right: 0;
			text-align: right;
			font-size: 10pt;
			height: 34px;
			width: 280px;
			/*box-shadow: -20px 0 10px 0 #FFF;*/
			}
			.ObjectItem .view .colright > *{
				margin: 0 10px;
				height: 24px;
				padding: 10px 0 0px 0;
				display: block;
				float: right;
				}
			.ObjectItem .view .colright .proto{
				/*color: #222;*/
				}
			.ObjectItem .view .colright .date{
				font-size: 9pt;
				}

		.ObjectItem .enter, .ObjectItem .view .colmain .col2 .enter{
			margin: 0;
			width: 32px;
			height: 32px;
			text-align: center;
			display: block;
			float: left;
			background: url(img/enter.png) no-repeat center center;
			opacity: 0.1;
			padding: 0;
			}
			.ObjectItem .enter:hover, .ObjectItem .view .colmain .col2 .enter:hover{
				opacity: 1;
				}

		.ObjectItem .view .colmain {
			display: block;
			overflow: hidden;
			width: 100%;
			padding: 0 0;
			text-decoration: none;
			color: #BBB;
			}
			.ObjectItem .view .colmain .col1 {
				left: 0;
				overflow: hidden;
				padding: 0 8px;
				position: absolute;
				width: 32px;
				height: 34px;
			}
			.ObjectItem .view .colmain .col2 {
				overflow: hidden;
				height: 34px;
				display: block;
				/*padding: 0 8px 0 8px;*/
			}
			.ObjectItem .view .colmain .col2 > *{
				display: block;
				float: left;
				overflow: hidden;
				margin-right: 10px;
				height: 24px;
				padding: 9px 0 1px 0;
				font-size: 9pt;
				}
				.ObjectItem .view .colmain .col2 .name{
					min-width: 100px;
					max-width: 200px;
					text-overflow: ellipsis;
					padding: 7px 0 2px 0;
					font-size: 12pt;
					color: #111;
					}
				.ObjectItem .view .colmain .col2 .value{
					color: #444;

					}
				.ObjectItem .view .colmain .col2 .state{
					font-size: 9pt;
					/*color: #CCC;*/
					}
				.ObjectItem .view .colmain .col2 .lang{
					font-size: 9pt;
					/*color: #CCC;*/
					}

.selected *{
	color: #FFF;
	}
	.selected .ObjectItem{
		margin: -1px 0 0 0px;
		}
		.selected .ObjectItem .view{
			background-color: #61B0FF;
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
			color: #FFF;
			}
		.selected .ObjectItem .view .colmain .col2 * {
			color: #FFF;
			}
		.selected .ObjectItem .enter, .selected .ObjectItem .view .colmain .col2 .enter{
			background: url(img/enter-invert.png) no-repeat center center;
			opacity: 0.5;

			}
			.selected .ObjectItem .enter:hover, .selected .ObjectItem .view .colmain .col2 .enter:hover{
				opacity: 1;
				}