.ObjectItem{
	display: block;
	color: #222;
	position: relative;
	}
	.ObjectItem .view{
		overflow: hidden;
		padding: 0 40px 0 0px;
		position: relative;
		white-space: nowrap;
		height: 38px;
		min-width: 100px;
		position: relative;
		border-bottom: 1px solid #E6F1FA;
		}
		.ObjectItem .view:hover{
			background-color: #EBF5FF;
			border-top: 1px solid #E6F1FA;
			border-bottom: 1px solid #E6F1FA;
			margin: -1px 0 0 0px;
			}
            .ObjectItem .view:active{
                background-color: #d9ecff;
			    border-top: 1px solid #d2e8fa;
			    border-bottom: 1px solid #d2e8fa;
                }

		.ObjectItem .view .colright {
			color: #999;
			margin: 0;
			padding: 0 0 0 5px;
			position: absolute;
			right: 0;
			text-align: right;
			font-size: 10pt;
			height: 38px;
			width: 185px;
			}
			.ObjectItem .view .colright > *{
				/*margin: 0 10px;
				height: 24px;
				padding: 10px 0 0px 0;*/
				display: block;
                float: right;
                height: 38px;
				}
			.ObjectItem .view .colright .value{
				max-width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #666;
                margin: 9px 0 2px 0;
                padding: 2px 0px;
                height: auto;
				}
            .ObjectItem .view .colright .default{
                color: #8040A0;
            }
        .ObjectItem .file{
            width: 20px;
            background: url(img/file.png) no-repeat center center;
            opacity: 0.6;
            }

		.ObjectItem .enter{
			margin: 0;
			width: 32px;
			text-align: center;
			background: url(img/select.png) no-repeat center center;
			opacity: 0.1;
			padding: 0;
			}
			.ObjectItem .enter:hover{
				opacity: 1;
				}

		.ObjectItem .view .colmain {
			display: block;
			overflow: hidden;
			width: 100%;
			padding: 0 0;
			text-decoration: none;
			color: #111;
			}
			.ObjectItem .view .colmain .col1 {
				left: 0;
				overflow: hidden;
				padding: 0 8px;
				position: absolute;
				width: 32px;
				height: 38px;
			}
			.ObjectItem .view .colmain .col2 {
				overflow: hidden;
				height: 38px;
				display: block;
				/*padding: 0 8px 0 8px;*/
			}
			.ObjectItem .view .colmain .col2 > *{
				display: inline-block;
				/*float: left;
				overflow: hidden;
				margin-right: 10px;
				height: 24px;
				padding: 9px 0 1px 0;*/
				font-size: 9pt;
				}
				.ObjectItem .view .colmain .col2 .title{
					/*min-width: 200px;
					max-width: 300px;
					text-overflow: ellipsis;*/
					padding: 9px 0 2px 10px;
					font-size: 13pt;
                    color: #000;
                    cursor: pointer;
					}
                .ObjectItem .virtual .colmain .col2 .title{
                    color: #8040A0;

                    }
                    .ObjectItem .colmain .col2 .title:hover{
                        text-decoration: underline;
                    }
                .ObjectItem .view .colmain .col2 .name{
					color: #AAA;
                    font-size: 8pt;
                    /*font-style: italic;*/
                    font-family: Verdana;
					}
				.ObjectItem .view .colmain .col2 .value{

					}
				.ObjectItem .view .colmain .col2 .state{
					font-size: 9pt;
					/*color: #CCC;*/
					}
				.ObjectItem .view .colmain .col2 .lang{
					font-size: 9pt;
					/*color: #CCC;*/
					}

.ObjectItem[class~="selected"]{
	color: #FFF;
    margin: -1px 0 0 0px;
    }
    .ObjectItem[class~="selected"] .view, .ObjectItem[class~="selected"] .view:hover{
        background-color: #61B0FF;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        }
    .ObjectItem[class~="selected"] .view .colmain .col2 *,
    .ObjectItem[class~="selected"] .view .colmain .col2 .title,
    .ObjectItem[class~="selected"] .view .colmain .col2 .name,
    .ObjectItem[class~="selected"] .view .colright .value,
    .ObjectItem[class~="selected"] .view .colright .default{
        color: #FFF;
        }
    .ObjectItem[class~="selected"] .enter{
        background: url(img/select-invert.png) no-repeat center center;
        opacity: 0.9;
        }
        .ObjectItem[class~="selected"] .enter:hover{
            opacity: 1;
            }
    .ObjectItem[class~="selected"] .file{
        background: url(img/file-invert.png) no-repeat center center;
        opacity: 0.9;
        }