.ObjectItem.list{
	display: block;
	color: #222;
	position: relative;
    cursor: default;
	}
	.ObjectItem.list .view{
		overflow: hidden;
		padding: 0 40px 0 0px;
		position: relative;
		white-space: nowrap;
		height: 38px;
		min-width: 100px;
		position: relative;
		border-bottom: 1px solid #E6F1FA;
		}
		.ObjectItem.list .view:hover{
			background-color: #EBF5FF;
			border-top: 1px solid #E6F1FA;
			border-bottom: 1px solid #E6F1FA;
			margin: -1px 0 0 0px;
			}
            .ObjectItem.list .view:active{
                background-color: #EBF5FF;
			    border-top: 1px solid #d2e8fa;
			    border-bottom: 1px solid #d2e8fa;
                }
        /* Главный блок*/
        .ObjectItem.list .main {
			display: block;
			overflow: hidden;
			width: 100%;
			padding: 0 0;
			color: #111;
            height: 38px;
			}
			.ObjectItem.list .main > *{
				display: inline-block;
                vertical-align: middle;
				font-size: 9pt;
				}
                .ObjectItem.list .hidden .main .title{
                    opacity: 0.5;
                    }
                .ObjectItem.list .deleted .main .title{
                    color: #ff4a52;
                    text-decoration: line-through;
                    }
				.ObjectItem.list .main .title{
					padding: 9px 0 9px 10px;
					font-size: 12pt;
                    cursor: pointer;
                    text-decoration: none;
					}
                    .ObjectItem.list .link .main .title:after{
                        content: '↝';
                        font-family: "Times New Roman";
                        line-height: 16px;
                        color: #0073bf;
                        margin-left: 3px;
                        text-decoration: none;
                        }
                        .ObjectItem.list .link .main .title > *{
                            color: #0073bf;
                        }
                    .ObjectItem.list .main .title > *{
                        color: #000;
                        }
                    .ObjectItem.list .main .title:hover > *{
                        text-decoration: underline;
                        }
                .ObjectItem.list .main .description{
                    color: #999;
                    margin-left: 5px;
                    font-size: 8pt;
                    vertical-align: baseline;
                }
        /* Блок информации об объекте */
		.ObjectItem.list .info {
			color: #999;
			margin: 0 0 0 200px;
			padding: 0 0 0 5px;
			position: absolute;
			right: 0;
			text-align: right;
			font-size: 10pt;
			height: 38px;
            background-color: #FFF;
			}
            .ObjectItem.list .view:hover .info{
                background-color: #EBF5FF;
            }
			.ObjectItem.list .info > *{
				margin: 0px 5px;
				display: block;
                float: right;
                height: 38px;
                line-height: 38px;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
                vertical-align: top;
				}
        .ObjectItem.list .info .name{
            color: #AAA;
            font-size: 8pt;
            font-family: Verdana;
            padding: 0px 0px;
            }
        .ObjectItem.list .info  .value{
            color: #666;
            height: auto;
            word-wrap:break-word;
            }
        .ObjectItem.list .info .default{
            color: #8040A0;
            }
        .ObjectItem.list .info .file{
            width: 14px;
            margin: 0;
            background: url(img/file.png) no-repeat center;
            opacity: 0.6;
            }
		.ObjectItem.list .info .select{
			margin: 0;
			width: 24px;
			text-align: center;
			background: url(img/select.png) no-repeat center;
			opacity: 0.2;
			padding: 0;
            cursor: pointer;
			}
			.ObjectItem.list .info .select:hover{
				opacity: 1;
				}
        /* Свойства */
        .ObjectItem.list .view .info .prop{
            display: none;
            width: 24px;
            margin: 0;
            background: url(img/prop.png) no-repeat center;
            opacity: 0.3;
            padding: 0;
            cursor: pointer;
            }
            .ObjectItem.list .view .info .prop:hover{
                opacity: 1;
                }
            .ObjectItem.list .view.link .info .prop{
                display: block;
            }
/*Если выделен */
.ObjectItem.list.selected{
	color: #FFF;
    margin: -1px 0 0 0;
    }
    .ObjectItem.list.selected .view, .ObjectItem.list.selected .view:hover{
        background-color: #61B0FF;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        }
    .ObjectItem.list.selected .info,
    .ObjectItem.list.selected .view:hover .info{
        background-color: #61B0FF;
        }
    .ObjectItem.list.selected .main .title *,
    .ObjectItem.list.selected .main .description,
    .ObjectItem.list.selected .info .value,
    .ObjectItem.list.selected .info .default{
        color: #FFF;
        }
        .ObjectItem.list.selected .main .title:after{
            color: #FFF;
        }
    .ObjectItem.list.selected .info .select{
        background: url(img/select-invert.png) no-repeat center;
        opacity: 0.9;
        }
        .ObjectItem.list.selected .info .select:hover{
            opacity: 1;
            }
    .ObjectItem.list.selected .info .file{
        background: url(img/file-invert.png) no-repeat center;
        opacity: 0.9;
        }