.SelectObject{

    }
    .SelectObject > .buttons{
        background: #FFF;
        border-top: 0px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        margin: 0 -1px;
        }
        .SelectObject > .buttons > .btn {
            float: left;
            margin-right: 0;
            }
        .SelectObject > .buttons > .content{
            padding-top: 15px;
            height: 32px;
            }
    .SelectObject .Explorer .AddTool{
        display: none;
    }