# Кодировка по умолчанию
AddDefaultCharset UTF-8

# Файлы, к которым запрщено обращаться напрямую
<Files ~ "(\.(htaccess|sql|php|cache|tpl|info|md))$">
    Order deny,allow
    Deny from all
</Files>

<Files "index.php">
    Allow from all
</Files>

Options -Indexes
Options +FollowSymLinks

# Отключение index файла, так как используется mod_rewrite
DirectoryIndex Off

# Правила изменеия запросов ("чистые" ссылки)
<IfModule mod_rewrite.c>

    RewriteEngine On

    # Директория сайта относительно домена
    # Если Boolive CMS расположена в поддиректории, например в http://localhost/boolive, то
    # следует изменить параметр RewriteBase, указав название поддиректории:
    # RewriteBase /boolive
    #
    # Если сайт в корневой директории, например его адрес: http://localhost, то установите:
    # RewriteBase /

    RewriteBase /

    # Не изменять ссылки на файлы
    #RewriteCond %{REQUEST_URI} !\.[a-z]{1,4}[\?0-9]*/?$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f

    # Все запросы переадресовываются в index.php без параметров. GET парметры вычисляются в движке из REQUEST_URI
    RewriteRule ^.*$ index.php [E=REMOTE_USER:%{HTTP:Authorization},QSA]

</IfModule>

# Если mod_rewrite отключен, то устанвливаем index файл
<IfDefine !RewriteEngine>
    DirectoryIndex index.php
</IfDefine>
