html, body{
    height: 100%;
    margin: 0;
    font: normal 12pt Arial,sans-serif;
    background: #f9f9f9;
    }
a{
    color: #3467C1;
}
.layout{
    /*height: auto;*/
    margin-top: -42px;
    min-height: 100%;
    overflow: hidden;
    }
    .layout > .header{
        position: fixed;
        z-index: 1000;
        left: 0;
        right: 0;
        top: 0;
        height: 40px;
        width: 100%;
        background: #222;
        box-shadow: 0 0 5px #555;
        border-bottom: 2px solid #000;
        }
    .layout > .main{
        padding: 0;
        margin: 104px 0 0;
        position: relative;
            z-index: 999;
        }
        .layout > .main .topbar{
            display: block;

            box-sizing: border-box;
            /*background: #888;*/
            /*height: 300px;*/
            margin: 0;
            }
        .layout > .main .sidebar{
            float: right;
            margin: 0 0 0 10px;
            width: 250px;
            min-height: 50px;
            /*background: #ccc;*/
            }
        .layout > .main .center{
            margin: 0 260px 0 0;
            /*min-height: 350px;*/
            min-width: 200px;
            padding: 0 0 20px 0;
            }
    .footer{
        clear: both;
        height: 40px;
        background: #333;
        box-shadow: 0 0 5px #555;
        border-top: 2px solid #000;
        color: #eee;
        }
        .footer p{
            margin: 10px 0;
        }

.wrapper{
    margin: auto;
    max-width: 960px;
    }

/* Cerafix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}