.PageKeywordsEditor{

    }
    .PageKeywordsEditor .keywords{
        width: 98%;
        height: auto;
        border: 1px solid;
        border-color: #CCE6FF;
        padding: 5px;
        padding-bottom: 10px;
        }
        .PageKeywordsEditor .keywords .old{
            display: inline;

        }
        .PageKeywordsEditor .keywords .value{
            border: 0px;
            margin-top: 4px;
            height: 20px;
            }
    .PageKeywordsEditor ul.ui-autocomplete{
        border-bottom: 1px solid;
        border-bottom-left-radius: 5px;
        border-left: 1px solid;
        border-bottom-right-radius: 5px;
        border-right: 1px solid;
        background-color: #ffffff;
        padding: 0px;

        }
    .PageKeywordsEditor ul.ui-autocomplete li.ui-menu-item{
        margin: 0;
        padding: 0;
        list-style: none;
        }
        .PageKeywordsEditor ul.ui-autocomplete li.ui-menu-item a {
            text-decoration: none;
            display: block;
            padding: 2px .4em;
            line-height: 1.5;
            min-height: 0;
            font-weight: normal;
            color: #222222;
            }
        .PageKeywordsEditor ul.ui-autocomplete li.ui-menu-item a.ui-state-focus {
            background: #CCE6FF;
            margin: -1;
            }

    .PageKeywordsEditor span.ui-helper-hidden-accessible{
        display: none;
        }