html, body {
	margin: 0;
    height: 100%;
	background-repeat: repeat;
	background-color: #f5f5f5;
	}
body,td,th,input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000;
	}
/* Ссылки */
a, a:active{
	color: #006ad6;
	outline: none;
	}
	a:hover {
		color: #0063bf;
		}
a.internal{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed #006ad6;
    }
    a.internal:hover{
        text-decoration: none;
        border-bottom: 1px dashed #0065c9;
        }
p{
    font-size: 11pt;
    color: #222;
    margin: 5px 0;
    padding: 0;
    }
    p.mini{
        font-size: 10pt;
        color: #555;
        }
/* Область содержимого */
.content{
    padding: 30px;
    }
/* Главный заголовок - название */
h1 {
    font-size: 30pt;
    font-weight: normal;
    margin-top: 0;
    /*padding: 0;*/
    }
h2 {
    font-size: 22pt;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
    color: #444;
    }
h2 + p{
    color: #444;
    font-size: 10pt;
}

        .Delete .info > .name{
            font-size: 17pt;
            display: inline-block;
            color: #1e7fff;
            padding: 5px 0px;
            border-radius: 3px;
            }
        .Delete .info > .uri{
            font-size: 9pt;
            margin: 0 15px;
            display: inline-block;
            background-color: #F5F5F5;
            color: #999;
            padding: 2px 5px;
            border-radius: 3px;
            font-family: verdana;
        }

/* Кнопки */
.btn, .btn-min {
    display: inline-block;
    height: 22px;
    margin: 0 8px;
    padding: 6px 14px 2px 14px;
    min-width: 51px;
    font-size: 11pt;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: #787878;
    background-color: #F1F1F1;
    border: 1px solid #e6e6e6;
    }
    .btn:hover, .btn-min:hover{
        color: #6b6b6b;
        background-color: #f5f5f5;
        border: 1px solid #ebebeb;
        }
    .btn:active, .btn-min:active{
        padding: 7px 14px 1px 14px;
        }
    .btn:first-child, .btn-min:first-child{
        margin-left: 0;
    }
    .btn:last-child, .btn-min:last-child{
        margin-right: 0;
    }

.btn-min{
    font-size: 10pt;
    padding: 3px 5px;
    margin: 0 2px;
    height: 16px;
    }
    .btn-min:active{
        padding: 4px 5px 2px 5px;
        }
/* Кнопка негативного действия */
.btn-primary {
    color: #FFF;
    background-color: #499df2;
    border: 1px solid #499aeb;
    }
    .btn-primary:hover{
        color: #FFF;
        background-color: #418dd9;
        border: 1px solid #3f8ad4;
        }
/* Кнопка позитивного действия */
.btn-success {
    color: #FFF;
    background-color: #93D740;
    border: 1px solid #88c73c;
    }
    .btn-success:hover{
        color: #FFF;
        background-color: #76d600;
        border: 1px solid #71c700;
        }
/* Кнопка негативного действия */
.btn-danger {
    color: #FFF;
    background-color: #FF5752;
    border: 1px solid #e64e4c;
    }
    .btn-danger:hover{
        color: #FFF;
        background-color: #ff0c08;
        border: 1px solid #e60909;
        }
/* Неактивная кнопка*/
.btn-disable, .btn-disable:hover, .btn-disable:active {
    /*background-color: #f5f5f5;
    border: 1px solid #ebebeb;*/
    cursor: default;
    padding: 6px 14px 2px 14px;
    }

.btn-icon, .btn-icon-delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    }
.btn-icon-delete{
    background: url(img/delete.png) no-repeat center;
}
/* Элементы формы */
.inpt{
    border: 1px #E0E0E0 solid;
    background-color: #FFF;
    color: #333;
    font-size: 11pt;
    padding: 3px;
    margin: 0;
    box-shadow: inset -1px 1px 3px 0 #f5f5f5;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    }

label{
    font-size: 11pt;
    color: #666;
    }


.txt-primary{
    font-size: 14pt;
    display: inline-block;
    color: #1e7fff;
    /*padding: 5px 0px;*/
    margin: 0 5px;
    border-radius: 3px;
}
.txt-tag{
    font-family: Verdana;
    font-size: 9pt;
    /*margin: 0 5px;*/
    display: inline-block;
    background-color: #F5F5F5;
    color: #999;
    padding: 2px 5px;
    border-radius: 3px;
}
.input-pfx{
    font-size: 9pt;
    /*display: inline-block;*/
    background-color: #F5F5F5;
    color: #999;
    padding: 5px 5px 4px 5px;
    border: 1px #E0E0E0 solid;
    /*border-bottom: 1px #E0E0E0 solid;
    border-left: 1px #E0E0E0 solid;*/
    border-radius: 3px;
   /* border-bottom-left-radius: 3px;*/
    /*height: 17px;*/
    line-height: 26px;
    min-width: 1px;
    font-family: Verdana;
}

.tag-link{
    cursor: pointer;
    }
    .tag-link:hover{
        background-color: #f2f9ff;
        color: #999;
        border: 1px #E0E0E0 solid;
        }

.hide{
    display: none;
    }