html, body {
    min-height: 100%;
    }
.Common {
    margin: 0 auto;
    /*overflow: hidden;*/
    display: block;
    width: 960px;
    /*min-height: 100%;*/
    }
    .Common::before, .Common::after {
        content: "";
        display: table;
        }
    .Common::after {
        clear: both;
        }
    .Common > .header {
        display: inline;
        float: left;
        margin: 0 10px 20px 10px;
        width: 940px;
        outline: 1px dotted #DDD;
        min-height: 50px;
        }
    .Common > .main {
        display: inline;
        float: left;
        margin: 0 10px;
        width: 700px;
        min-height: 50px;
        outline: 1px dotted #DDD;
        }
    .Common > .sidebar {
        display: inline;
        float: left;
        margin: 0 10px;
        width: 220px;
        min-height: 50px;
        outline: 1px dotted #DDD;
        }
    .Common > .footer {
        display: inline;
        float: left;
        margin: 20px 10px 0 10px;
        width: 940px;
        outline: 1px dotted #DDD;
        min-height: 50px;
        }