.Delete{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
	}
    .Delete .main{
        width: 100%;
        }
    .Delete .bottom{
        height: 100px;
        width: 100%;

        }
	.Delete .btn {
        float: right;
        margin-right: 0;
		}