.ProgramsMenu{
    position: absolute;
    height: 100%;
    width: 100%;
	}
.ProgramsMenu ul{
	list-style-type: none;
	padding: 0;/*26px 0 25px 0;*/
	margin: 0;
    position: relative;
	}
	.ProgramsMenu ul li{
		display: block;
		height: auto;
		font-size: 11pt;
		margin: 5px 0 0 0;
		position:relative;
		padding: 0;
		z-index:3;
		clear: both;
        margin: 20px 0 5px 0;
		/*text-align: right;*/
		}
		.ProgramsMenu ul li:first-child{
			padding-top:0;
			}
		.ProgramsMenu ul li a{
			display: block;
			height: 20px;
			color: #888;
			text-decoration:none;
			padding: 0 45px 0 0;
			/*border-top-right-radius: 16px;*/
			/*border-bottom-right-radius: 16px;*/
			/*-moz-border-radius-topright: 16px;*/
			/*-moz-border-radius-bottomright: 16px;*/
			background: /*#FDFDFD*/ url(img/icon_program_disable.png) no-repeat 170px /*9px*/ center;

			/*padding-left: 30px;*/
            text-align: right;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			-moz-text-overflow: ellipsis;
			/*box-shadow:
				inset -15px 0 15px -15px #F5F5F5,
				inset 1px 0 0 0 #D8D8D8,
				inset 0 0 0 1px #E8E8E8,
				inset -18px 0 15px -15px #FFF,
				inset 3px 0 4px -3px #D0D0D0;
			-webkit-box-shadow:
				inset -15px 0 15px -15px #F5F5F5,
				inset 1px 0 0 0 #D8D8D8,
				inset 0 0 0 1px #E8E8E8,
				inset -18px 0 15px -15px #FFF,
				inset 3px 0 4px -3px #D0D0D0;*/
			}
			.ProgramsMenu ul li a:hover, .ProgramsMenu ul li a.star:hover{
				/*color: #0065c9;*/
				color: #000;
                text-shadow: 0 0 1px #CCC;
				/*box-shadow:
					inset 1px 0 0 0 #CCCCCC,
					inset 0 0 0 1px #E0E0E0,
					0 0 3px 0 #E8E8E8,
					inset 2px 0 3px -1px #EEEEEE;
				-webkit-box-shadow:
					inset 1px 0 0 0 #CCCCCC,
					inset 0 0 0 1px #E0E0E0,
					0 0 3px 0 #E8E8E8,
					inset 2px 0 3px -1px #EEEEEE;*/
				/*-moz-box-shadow:
					inset 1px 0 0 0 #CCCCCC,
					inset 0 0 0 1px #5DABEC,
					0 0 5px 0 #5DABEC,
					inset 3px 0 3px -1px #E5E5E5;*/
				background-color: #FFF;
				}
	.ProgramsMenu ul li.active{
		margin-right: 0px;
		}

		.ProgramsMenu ul li.active a{
			background-color:#FFF;
			background-image: url(img/icon_program.png);
			/*color: #0065c9;*/
			color: #000;
            text-shadow: 0 0 1px #CCC;
			/*box-shadow:
                inset 0 1px 0 0px #D8D8D8,
				inset 0 -1px 0 0px #D8D8D8;*/
				/*inset 0 2px 0 -1px #D8D8D8,
				inset -15px 0 15px -15px #e6e6e6,
				0 0 3px 0 #E0E0E0,*/
				/*0 3px 3px -3px #888;*/
			/*-webkit-box-shadow:
				inset 0 1px 0 0px #D8D8D8,
				inset 0 -1px 0 0px #D8D8D8*//*,
				inset -15px 0 15px -15px #e6e6e6,
				0 0 3px 0 #E0E0E0,*/
				/*0 3px 3px -3px #888*/;
			}
			.ProgramsMenu ul li.active a:hover{

				}

        .ProgramsMenu ul li.active:after{
			display: block;
			position: absolute;
			top: 0px;
			left: -20px;
			content: '';
			width: 0;
			height: 0;
			/*border-top: 20px solid transparent;
			border-top: 20px solid rgba(255,255,255,0);
			border-right: 20px solid #D5D5D5;
			border-bottom: 20px solid transparent;
			border-bottom: 20px solid rgba(250,250,250,0);*/
			z-index: 100;
			}
		.ProgramsMenu ul li.active a:after{
			display: block;
			position: absolute;
			top: 0px;
			left: -19px;
			content: '';
			width: 0;
			height: 0;
			/*border-top: 20px solid transparent;
			border-top: 20px solid rgba(250,250,250,0);
			border-right: 19px solid #FFF;
			border-bottom: 20px solid transparent;
			border-bottom: 20px solid rgba(250,250,250,0);*/
			z-index: 101;
			}








    .maximize-right .ProgramsMenu ul li a{
			background-position: 19px center;
			padding-left: 50px;
		}