.Add{
    width: 100%;
    height: 100%;
	}
    .Add .buttons{
        padding: 30px 0;
        }
        .Add .buttons .btn {
            float: left;
            margin-right: 0;
            }
    .Add > .content > .list{
        margin: 20px 0;
        }
    .Add .other {
        display: inline-block;
        margin: 10px;
        }