.RichTextToolbar{
    position: relative;
    }
    .RichTextToolbar .tabs{
        /*background-color: #333;*/
        width: 32px;
        height: 150px;
        position: absolute;
        left: -36px;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        }
        .RichTextToolbar .tabs li{
            opacity: 0.3;
            margin: 5px 0;
            display: block;
            transition: opacity 0.2s;
            transition-timing-function: liner;
            }
            .RichTextToolbar .tabs li:hover,
            .RichTextToolbar .tabs li.selected{
                opacity: 0.9;
            }
            .RichTextToolbar .tabs li.disable,
            .RichTextToolbar .tabs li.disable:hover{
                opacity: 0.05;
                }
                .RichTextToolbar .tabs li.disable a{
                    cursor: default;
                }
            .RichTextToolbar .tabs li a{
                display: block;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
            }