.SelectObject > .main > .content > .view{
    margin-top: 25px;
    /*border-left: 2px solid #71C700;*/
    }
.SelectObject > .main > .content > .view .content{
    padding-top: 0px;
    padding-bottom: 0px;
    }
.SelectObject > .main > .content > .view h1{
    font-size: 22pt;
    color: #444;
}
.SelectObject > .buttons .btn {
        float: right;
        margin-right: 0;
		}