.MenuAuth{
    position: absolute;
    right: 0;
    display: block;
    height: 32px;
    /*width: 270px;*/
    padding: 0;
    margin: 0;
    z-index: 100;
    }
    .MenuAuth ul.buttons {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: right;
        }
        .MenuAuth ul.buttons li{
            display: inline-block;
            list-style: none;
            margin: 0 0;
            vertical-align: middle;
            height: 32px;
            background-color: #f9f9f9;
            box-shadow: inset 1px -1px 0 0 #E5E5E5, inset 0 -3px 3px -2px #E5E5E5;
	        -webkit-box-shadow: inset 1px -1px 0 0 #E5E5E5, inset 0 -3px 3px -2px #E5E5E5;
            }
        .MenuAuth ul.buttons li:hover{
            background-color: #f2f9ff;
            }
        .MenuAuth ul.buttons li.active{
            background-color: #ffffff;
            box-shadow: inset 1px 0px 0px 0px #DCDCDC, inset 0px 0px 6px -5px #DDDDDD;
            -webkit-box-shadow: inset 1px 0px 0px 0px #DCDCDC, inset 0px 0px 6px -5px #DDDDDD;
            }
            .MenuAuth ul.buttons li a{
                    margin: 0;
                    vertical-align: middle;
                    font-size: 10pt;
                    text-decoration: none;
                    color: #555;
                    display: block;
                    padding: 7px 10px 8px 28px;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    }
                .MenuAuth ul.buttons li.userlink a{
                    background-image: url('img/user.png');

                    }
                .MenuAuth ul.buttons li.exit a{
                    background-image: url('img/exit.png');
                    }
                .MenuAuth ul.buttons li.exit:hover{
                    background-color: #fff2f2;
                    }
                    .MenuAuth ul.buttons li.exit a:hover{
                        background-image: url('img/exit-active.png');
                        color: #ff1a1a;
                        }
                .MenuAuth ul.buttons li.site a{
                    background-image: url('img/arrow.png');
                    }
                .MenuAuth ul.buttons li.site a:hover{
                    background-image: url('img/arrow-active.png');
                    color: #1a8cff;
                    }