.PageTitleEditor{

    }
    .PageTitleEditor label{
        font-size: 11pt;
        color: #666;
    }
    .PageTitleEditor input[type=text] {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 24pt;
    }
    .PageTitleEditor .error {
        color: #ff0c08;
        font-size: 10px;
    }