.PageEditor{
    }
    .PageEditor .buttons{
        margin: 10px;
        text-align: right;
        margin-right: 2px;
    }
    .PageEditor .item{
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 0 0;
        margin: 5px;
        color: #111;
        min-height: 38px;
        height: auto;


        }

