.PageEditor{
    margin: 5px;
    }
    .PageEditor .buttons{
        margin: 10px;
        text-align: right;
        margin-right: 2px;
    }
    .PageEditor .item{
        display: block;
        overflow: hidden;
        /*width: 100%;*/
        padding: 0 0;
        margin: 5px 0;
        color: #111;
        height: auto;
        vertical-align: middle;
        }

