.Editor{
    position: relative;
}
.Editor__attribs-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 7px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    opacity: 0.1;
    z-index: 101;
    position: relative;
    border: 1px solid transparent;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    border-bottom: none;
    }
    .BaseExplorer__head-left:hover .Editor__attribs-btn{
        opacity: 1;
        }
    .Editor__attribs-btn.active{
        /*box-shadow: 0 0 3px #eee;*/
        opacity: 1;
        border-color: #eee;
        background-color: #F5F5F5;
        }
    .Editor__attribs-btn.active:after{
        content: '';
        position: absolute;
        background-color: #F5F5F5;
        bottom: -3px;
        left: -2px;
        height: 3px;
        right: -2px;
        z-index: 2002;
    }
.Editor__attribs{
    /*position: absolute;*/
    background-color: #F5F5F5;
    width: 100%;
    /*height: 40px;*/
    border: 1px solid #eee;
    /*box-shadow: 0 0 3px #eee;*/
    z-index: 100;
    margin: -1px 0 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: table;
    padding: 15px;
    }
    .Editor__attribs-item{
        display: table-row;
        }
    .Editor__attribs-col1{
        display: table-cell;
        padding: 5px 0;
        /*width: 100px;*/
        }
    .Editor__attribs-col2{
        display: table-cell;
        width: 100%;
        padding: 5px;
        }
.Editor__attribs-error{
    font-size: 12px;
    color: #f00;
}
.Editor__attribs-uri{
    display: table;
    width: 100%;
    padding-left: 1px;
    }
    .Editor__attribs-uri-parent{
        display: table-cell;
        background-color: #f9f9f9;
        font-size: 12px;
        padding: 0 2px;
        white-space: nowrap;
        color: #999;
        cursor: pointer;
        }
        .Editor__attribs-uri-parent:hover{
            color: #000;
        }
    .Editor__attribs-uri-name-wrap{

        display: table-cell;
        width: 100%;
        white-space: nowrap;
    }
    .Editor__attribs-uri-name{
        width: 100%;
        border: 0;
        padding: 0;
        font-size: 12px;
        min-width: 50px;
    }