.PageEditor{
        margin-top: 32px;
    }
    .PageEditor .buttons{
        margin: 10px;
        text-align: right;
        width: 100%;
    }
    .PageEditor .item{
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 0 0;
        color: #111;
        min-height: 38px;
        height: auto;


    }
