#hello{
	width: 200px;
	height: 60px;
	position: absolute;
	background: #555;
	color: #FFF;
	font-size: 24pt;
	font-family: Arial;
	text-align: center;
	padding: 50px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	}
	#hello:hover{
		background: #2a96fa;
		color: #FFF;
		}