.hello{
    position: absolute;
    background: #555;
    color: #FFF;
    font-size: 22pt;
    font-family: Arial;
    text-align: center;
    padding: 30px 40px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    }
    .hello:hover{
        background: #2a96fa;
        color: #FFF;
        }