.Add{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
	}
    .Add .main{
        width: 100%;
        }
    .Add .buttons{
        height: 100px;
        width: 100%;

        }
    .Add .list{
        margin: 20px 0;
        }


	.Add .buttons .btn {
        float: left;
        margin-right: 0;
		}
    .Add .other {
        /*float: left;*/
        margin-top: 10px;

        }
    .Add > .buttons .content{
        padding-top: 0;
        height: 32px;
        }